*{
    margin: 0;
    padding: 0;
}

/* /-----/로그인/-----/ */

.login_Con{
    width: 100%;
    height: 100vh;
    position: relative;

}

.login_Inner{
    width: 500px;
    height: 650px;
    background-color: #adadad;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);


}

.login_Con .top{
    width: 500px;
    height: 150px;
    text-align: center;
    position: relative;
}

.login_Con .fa-times-circle{
    font-size: 25px;
    position: absolute;
    right: 10px;
    top:10px;
}