.intro_Container{

}
.intro_Inner{

}
section{
    width: 100%; 
    height: 100vh;
}
.sec01, .sec03{
    background-color: #777;
}

.credit{
     background-color: #777;
}


.sec01{
    position: relative;

}
.sec01_Logo{
    width: 250px;
    height: 100px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);

background-image: url(/image/logo_100.png);
}


.sec02_Img{
    width: 80vw;
    height: 60vh;
    background-color: #777;
    margin: 20vh auto;
    position: relative;
    border-radius: 30px;

}



.sec02_Bubble{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 20px;
    position: absolute;
    right: 120px;
    bottom: 100px;
}

.log_Icon{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.sec03{
    position: relative;
}
.sec03_Img{
    width: 1200px;
    height: 200px;
    background-color: black;
    margin: 20px auto;
}

.sec03_Img img{
    height: 200px;
}

.sec03_Bubble{
    width: 200px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 20px;
    position: absolute;
    left: 30%;
    bottom: 10%;
}

.sec04_Img{
    width: 80vw;
    height: 60vh;
    background-color: #777;
    margin: 20vh auto;
    border-radius: 30px;
}